.new-project-container {
  background-color: #f1f3f5;
  grid-row: 1/-1;
  grid-column: 2/-1;
}

.new-project-form {
  background-color: #f1f3f5;
  padding: 0px 20px 0px 20px;
  font-size: 1.3rem;
}
.new-project-form label {
  display: block;
  margin: 30px auto;
  width: 90%;
}
.new-project-form span {
  display: block;
  margin-bottom: 6px;
}
.new-project-form input {
  padding: 8px 6px;
  font-size: 1em;
  font-family: inherit;
  border: solid 1px grey;
  width: 90%;
}

.new-project-form textarea {
  resize: none;
  height: 10rem;
  width: 90%;
  font-size: 1em;
  font-family: inherit;
}

.new-project-form button {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: #74c0fc;
  border: none;
  padding: 0.4rem;
  border-radius: 10px;
  width: 50%;
}

.error {
  font-size: 1.3rem;
  color: red;
}
