.task {
  border: solid 1px rgb(187, 187, 187);
  border-radius: 10px;
  background-color: #74c0fc;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.task h3 {
  margin-bottom: 0;
}

.task p {
  margin-top: 0;
  color: grey;
}
.task img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: inline-block;
}
