.task {
  display: grid;
  grid-template-columns: 40% 1fr;
  height: 93vh;
}

.task img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.task-desc-container {
  background-color: #e9ecef;
  margin: 1rem 0 1rem 1rem;
}

.task-desc-container h3 {
  margin: 0;
}
.task-desc-container p {
  color: grey;
}
.task-desc-text {
  color: black !important;
}
/* COMMENTS SECTION STYLING BELOW  */

.comments {
  padding-top: 1rem;
  overflow-y: scroll;
}
.comments h3 {
  margin: 0;
}

.user-comment-container {
  text-align: left;
  padding-left: 1rem;
  background-color: #74c0fc;
  border: solid 1px rgb(187, 187, 187);
  border-radius: 10px;
  margin: 2rem;
}

.user-comment-container img {
  display: inline-block;
  transform: translate(10px, 10px);
}

.user-comment-container .username {
  font-weight: bold;
  display: inline-block;
  margin: 0;
}
.user-comment-container .date {
  font-weight: bold;
  color: grey;
  font-size: 0.9rem;
  margin: 0;
}
.user-comment-container .text {
  padding-bottom: 1rem;
  margin-top: 0.2rem;
}
.task-desc-container form {
  padding-left: 1rem;
}

.task-desc-container label {
  display: block;
  margin: 30px auto;
  width: 90%;
  font-size: 1.3rem;
}
.task-desc-container span {
  display: block;
  margin-bottom: 6px;
}
.task-desc-container input {
  padding: 8px 6px;
  border: solid 1px grey;
  width: 90%;
}

.task-desc-container button {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  background-color: #74c0fc;
  border: none;
  padding: 0.4rem;
  border-radius: 10px;
}

.task-desc-container form p {
  color: red;
  margin: 0;
}
