.nav-bar {
  position: relative;
  height: 3rem;
  background-color: #e9ecef;
}

.nav-title {
  position: absolute;
  left: 2%;
  margin: 0;
  top: 20%;
  text-decoration: none;
  color: initial;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-user-logo {
  position: absolute;
  right: 0;
  top: 30%;
  right: 2%;
}

.nav-user-menu {
  z-index: 3;
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: rgb(235, 235, 235);
  top: 100%;
  right: 0;
}

.nav-user-menu p {
  font-size: 1.7rem;
}

.nav-user-menu span {
  font-weight: bold;
}

.nav-user-menu ul {
  padding: 0;
}

.nav-user-menu li {
  list-style-type: none;
  font-size: 1.5rem;
  transition: all 0.5s;
}
.nav-user-menu a {
  text-decoration: none;
  color: initial;
}

.nav-user-menu li:hover {
  transform: scale(1.1);
}

.logout-button {
  color: red;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem !important;
  cursor: pointer;
}

.logout-button:hover {
  transform: scale(1) translateX(-50%) !important;
}
