.update-password-form {
  max-width: 360px;
  margin: 30px auto;
  padding: 0px 20px 0px 20px;
  font-size: 1.3rem;
}
.update-password-form label {
  display: block;
  margin: 30px auto;
  width: 90%;
}
.update-password-form span {
  display: block;
  margin-bottom: 6px;
}
.update-password-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 90%;
}

.update-password-form button {
  width: 60%;
  font-size: 1.5rem;
}

.error {
  font-size: 1.3rem;
  color: red;
}
